SECRET_KEY = 'output of `import os; os.random(24)`'
CONSUMER_KEY = 'anonymous'
CONSUMER_SECRET = 'anonymous'

TEST_GOOGLE_EMAIL = 'yourtestaccount@gmail.com'
TEST_GOOGLE_PASSWORD = 'yourtestaccountpassword'