body { margin:20px auto; color:#333; font: 1em "Helvetia Neue", Helvetica, Arial, sans-serif; background: url(../img/bg.png) repeat-x top left; }

h1 { font-size: 1.3em; }
ol li { margin: 0 0 12px; line-height: 135%; }

a:hover { text-decoration: none; }

button { border: 3px solid #274F7F; font-weight: bold; font-size: 1em; color: #fff; padding: 4px 6px; cursor: pointer;
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px 6px 6px 6px;
		background: #3B699F;
		background: -moz-linear-gradient(top, #3B699F, #27517F); 
		background: -webkit-gradient(linear, left top, left bottom, from(#3B699F), to(#27517F));
}
button:hover { background: #274F7F; }
button::-moz-focus-inner { border: 0; }
button:focus, input:focus { outline: none; }

form { clear: both; }

.hide { display:none; }
.bounce { font-size: .9em; display: inline-block; margin: 0 0 10px; }

#content {  padding: 20px; width: 600px; margin: 0 auto; overflow: hidden;}
#footer { padding:20px; font-size:0.8em; }
#aux { font-size: .9em; }

#logo { margin: 0 0 4px; }
.description { line-height: 135%; font-size: 1.1em; }

/* Search Form Styles */
.madlib { font-size: 1.3em; line-height: 160%; margin: 0; text-shadow: 1px 1px 1px #ccc; margin: 6px 0 0; }

#check-form { border: 1px solid #ccc; border-top: 1px solid #eee; border-left: 1px solid #eee; padding: 20px 20px 0;
		-moz-box-shadow:  2px 2px 2px #ddd; 
		-webkit-box-shadow:  2px 2px 2px #ddd; 
		background: #f9f9f9;
		background: -moz-linear-gradient(top, #fff, #eee); 
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); 
}
#check-form input { padding: 4px 4px 2px; border: 3px solid transparent; border-bottom: 1px dashed #888; text-align: center; font: .9em "Courier New", Courier, monospace; background: transparent; width: 238px; }
#check-form input.error { border: 3px solid #EF8759; background: #fff; }
#check-form input:focus { border-bottom: 1px solid #666; }
#check-form input.error:focus { border: 3px solid #EF8759; }
#check-form label { font-size:0.8em; color:#888; }
#check-form .error-msg { font-size: .8em; padding: 8px 4px 6px 6px; position: absolute; color: #fff; letter-spacing: 0.01em; display: none; top: 0; left: 0; z-index: 10; width: 242px; 

background: #EF8759;
background: -moz-linear-gradient(top, #EF8759,#CF6C40);
background: -webkit-gradient(linear, left top, left bottom, from(#EF8759), to(#CF6C40));

}
.error-msg, input.error {
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
}

#introduction { overflow: hidden; width: 600px; margin: 0 0 20px; }
#introduction p { float: left; width: 330px; padding: 10px 0 0 0; }
#introduction img { float: right; }

/* Search Results */
#results { background: #E9EFB3; padding: 10px 20px; margin: 0 0 20px; border: 1px solid #D8DF99; border-top: none; border-left: none; }
#results li { margin: 0 0 10px; line-height: 125%; }
#results h2 { display: inline-block; margin-right: 30px; }
#results.failure h2 span { color: red; }
#results.success h2 span { color: green; }
#results .new { font-weight: bold; }


/* Footer Styles */
#footer { clear: both;  font-size: .9em; color: #666; line-height: 3em; text-align: center;}
#footer .credits a { background: url(../img/made-icons.png) no-repeat; display: inline-block; text-indent: -999em; background-position: 0 0; width: 42px;  height: 46px; margin: 0 2px; }

#footer .credits a.lincoln:hover { background-position: 0 -53px; }

#footer .credits a.flask { background-position: -50px 0; width: 48px;}
#footer .credits a.flask:hover { background-position: -50px -53px;}
#footer .credits a.appengine { background-position: -106px 0; width: 52px;}
#footer .credits a.appengine:hover { background-position: -106px -53px; }
#footer .credits a.github { background-position: -169px 0; }
#footer .credits a.github:hover { background-position: -169px -53px; }