{% extends "base.html" %}

{% block title %}Privacy &amp; Other Information{% endblock %}

{% block introduction %}

<a href="/" class="bounce">&laquo; Return to e-mail lookup</a>
<img src="/static/img/logo.png" alt="Did What's-Their-Face E-mail Me?" id="logo" />
<h1>Privacy &amp; Other Information</h1>
<ol>
    <li>We don't store any data on the server, everything is stored in local cookies.</li>
    <li>Due to limitations in the Gmail API, we can only search the 25 newest unread messages.
    <li>The only "single message" view we could link to is the print view. Ignore the print dialogue</li>
</ol>

{% endblock %}